@import "../../node_modules/nord/src/sass/nord.scss";

@font-face {
	font-family: "Regular";
	src: url("../static/fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: "Light";
	src: url("../static/fonts/Roboto-Light.ttf");
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $nord0;
	overflow: hidden;
	font-family: Regular, "Courier New", monospace;
}

#root {
	width: 100%;
	height: 100%
}